<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>800307106097-rcjp96p630tpr7cjommd8q7ftvk5be54.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.800307106097-rcjp96p630tpr7cjommd8q7ftvk5be54</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>800307106097-3pad82ql7lg8dcgibjp0ucvdohe9qvo8.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAYoh5QAuan1W_uKWU09QnN7XB9ztDFFjI</string>
	<key>GCM_SENDER_ID</key>
	<string>800307106097</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gesanfra.atencaobasica</string>
	<key>PROJECT_ID</key>
	<string>ab-saudegsf</string>
	<key>STORAGE_BUCKET</key>
	<string>ab-saudegsf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:800307106097:ios:0f21ccb61b2d9ab9c5e010</string>
	<key>DATABASE_URL</key>
	<string>https://ab-saudegsf-default-rtdb.firebaseio.com</string>
</dict>
</plist>